:root {
  --border-width: 0.3rem;
}

body {
  /* Background is set in index.html */
  font-family: Georgia, "Times New Roman", serif;
  margin: 0;
}

.title {
  display: none;
}

.bingo-screen {
  animation: spectrum linear 1s infinite;
  background-color: #000a;
  color: white;
  padding-top: 20vh;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
}

@keyframes spectrum {
  0% {
    color: tomato;
  }
  25% {
    color: mediumseagreen;
  }
  50% {
    color: cadetblue;
  }
  75% {
    color: mediumorchid;
  }
  100% {
    color: tomato;
  }
}

.bingo-screen h2 {
  font-size: 11vw;
  margin-bottom: 0.3em;
}

.board {
  background-color: rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 100px gray;
  box-sizing: border-box;
  border: var(--border-width) solid black;
  font-style: italic;
  margin: 0;
  display: grid;
  width: 100%;
  height: 100vh;
}

.square {
  background-color: white;
  border: var(--border-width) solid black;
  hyphens: auto;
  text-align: center;
  transition: background-color 0.4s, color 0.4s;
  font-size: 5vw;
  word-break: break-word;
}

.square:hover {
  background-color: lightgray;
}

.square:focus {
  outline: none;
}

.square.selected {
  background-color: dimgray;
  color: white;
}

.square.bingoed {
  background-color: seagreen;
}

@media (min-width: 600px) {
  :root {
    --border-width: 0.4rem;
  }
  .board {
    border: none;
    grid-gap: 1rem;
    height: 70vh;
    max-width: 70vw;
    margin: auto;
    margin-top: 15vh;
  }
  .square {
    font-size: 3vw;
  }
}
